.sidebar-left {

    & .add-new-chat {
        justify-content: space-around !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;

        & i {
            font-size: 1rem;
            cursor: pointer;
        }
    }

    & .chatbar {
        list-style: none;
        padding-left: 0 !important;
        padding-top: 1rem !important;
        font-size: .8rem;

        & li {
            line-height: 3;
            padding-left: 1rem !important;
            align-items: center !important;
            justify-content: space-between !important;

            & i {
                font-size: 1rem;
                margin-right: 10px;
            }

            &.active {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}