.sidebar-right {
    font-size: .8rem;

    & .nav {
        max-height: 42px;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        justify-content: space-around;
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }

    & i {
        font-size: 1.1rem;
        cursor: pointer;
    }

    & a {
        color: var(--bs-body-color);
    }

    & .bookmark{
        padding-top: 1rem;
        padding-left: 0 !important;
        list-style: none;

        & li {
            line-height: 3;
            align-items: center;
            padding-left: 1rem;
            justify-content: space-between;

            &.active {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }

        & i {
            font-size: 1rem;
            margin-right: 10px;
        }
    }
}